@import '../../utils/variables.css';


.btn {
  width: 174px;
  height: 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(82, 85, 95, 0.7);
  border: none;
  background-color: transparent;
}
.btn:hover .text,
.btn:focus .text{
  color: var(--accent-bright);

}
.svgBtn {
  margin-right: 15px;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(82, 85, 95, 0.7);
  border: none;
}
