.section {
    width: 282px;
    /* display: flex; */
    /* background-color: hotpink; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 21px;
}


@media screen and (min-width: 768px) {
    .section {
        width: 666px;
        display: flex;
        flex-direction: row-reverse;
        padding-top: 40px;
        padding-bottom: 30px;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: */
        margin-top: 0;
    }
    .flex {
        display: flex;
        flex-direction: row-reverse;
        width: 72%;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1280px) {
    .section {
        width: 1060px;
        padding-bottom: 30px;
    }
}