@import '../../utils/variables.css';

.header{
    background-color: var(--bg-secondary);
    text-transform: uppercase;
    color: var(--font-primary);
    font-size: 12px;
    font-weight: 700;
}
.list{
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;


    background-color: var(--bg-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius:20px;

     padding-top: 15px;
     padding-bottom: 15px;

     background: yellow;

}
.date, .description, .category {
    flex-grow: 1;
}
.amount {
    flex-grow: 2;
}

/* --width-mobile: 320px;
--width-tablet: 768px;
--width-desktop: 1280px; */

@media screen and (max-width: 320px) {
    .list{
        max-width:282px;
        background-color: lightcoral;
    }
    .header{
        display: none;
        visibility: hidden;
    }
    
}
@media screen and (min-width: 321px) {
    .list {
        max-width: 760px;
    }
    .header {
        background: green;
    }
    .header span {
        margin-left: 20px;
    }
    
    
}