@import '../../utils/variables.css';

.header{
    background-color: var(--bg-secondary);
    text-transform: uppercase;
    color: var(--font-primary);
    font-size: 12px;
    font-weight: 700;
}

/* --width-mobile: 320px;
--width-tablet: 768px;
--width-desktop: 1280px; */

@media screen and (max-width: 320px) {
    .list{
        width:282px;
        background-color: lightcoral;
    }
    .header{
        display: none;
        visibility: hidden;
    }
    
}