.navList {
  display: flex;
}
.navListItem {
  width: 138px;
  height: 40px;
  padding: 20px;
  background-color: chocolate;
  border-radius: 20px 20px 0 0;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-primary);
  background-color: #fafbfd;
}
.navListItemActive {
  background-color: var(--bg-primary);
  background: #fefefe;
  color: var(--accent-bright);
}
