:root {
  --width-mobile: 320px;
  --width-tablet: 768px;
  --width-desktop: 1280px;

  --bg-primary: white;
  --bg-secondary: #f2f5fc; /* #f5f6fb */
  --bg-tab: #fafbfd;
  --bg-tab-active: #fefefe;
  --bg-table: #f5f6fb;

  --bg-svg: #ffdac0;
  --ss: #fcfbf2;
  --font-tertiary: #52555f;
  --font-primary: black;
  --font-secondary: #52555f;
  --font-expenses: #e7192e;
  --font-incomes: #407946;

  --accent-bright: #ff751d;
  --accent-bleak: var(--bg-svg);
  --accent-bleak-logo: rgba(251, 124, 47, 0.2);
  --modal-color-first: #1d346a;
  --modal-color-arrow: #172d5d;
  --modal-color-second: #031634;

  --dropdown-text: #c7ccdc;
  --box-shadow: rgba(90, 105, 88, 0.4);
  /* --hero-primary: #ff751d; */
  --hero-back: #dfe2eb;
  --hero-bottom-back: #dfe2eb;
  /* --hero-back: rgba(255, 116, 29, 0.3); */
  --hero-shadow: white;
  /* =================================== */
}
