.team {
  height: auto;
  margin-bottom: 34px;
}
.team a {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  color: var(--accent-bright);
  text-shadow: 1px 1px 1px var(--bg-svg), -1px 1px 1px var(--bg-svg);
  transition: all 0.5s;
}
