.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.formContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.InputsWrapper {
  display: flex;
  align-items: center;
}
#inputStyle {
  width: 289px;
  padding-left: 10px;
  padding-top: 10px;
  height: 40px;
  border: 2px solid blue;
  border-top-left-radius: 16px;
  outline: none;
  background: chocolate;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .buttonWrapper {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .buttonWrapper {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .buttonWrapper {
    display: flex;
    width: 265px;
    margin-left: 27px;
    margin-top: 0;
    /* margin-top: 30px; */
  }
}

.inpuImgWrapper {
  position: relative;
}
.calculatorImg {
  position: absolute;
  top: 10px;
  right: 10px;
}
.allInputsWrapper {
  margin-bottom: 30px;
}

.authBtn {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  width: 125px;
  height: 37px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 16px;
  border: none;
  background: #f5f6fb;
  font-family: Roboto;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  cursor: pointer;
}

.authBtn:nth-child(1) {
  margin-right: 15px;
}
.calendarIconStyle {
  position: absolute;
  top: 12px;
  left: 98px;
  z-index: -1;
}

.authBtn.authBtnActive {
  color: white;
  background-color: var(--accent-bright);
  filter: drop-shadow(1px 3px 5px var(--box-shadow));
}
#tmp {
  width: 80px;
  border-color: burlywood;
  border-radius: 10px;
  outline: none;
  margin-right: 0px;
}
.inpuImgWrapper button {
  background: black;
}
#calendarStyle button {
  background: red;
}
.calendarWrapper {
  position: relative;
  margin-right: 30px;
}
.calendarHelper {
  width: 152px;
  height: 3px;
  top: 34px;
  left: 0px;
  background: white;
  position: absolute;
  z-index: 1;
}
/* .calendarHelper:hover {
  background: #f5f5f5;
} */
