.inpuImgWrapper {
  position: relative;
}
.calculatorImg {
  position: absolute;
  top: 10px;
  right: 10px;
}

label #demo-simple-select-helper-label {
  display: none !important;
}

@media screen and (max-width: 767.5px) {
  .containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .formContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
  }
  .buttonWrapper {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .calendarWrapper {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .calendarHelper {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .inpuImgWrapper {
    margin-top: 15px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .calendarWrapper {
    display: block;
    position: relative;
    margin: 0;
    margin-right: 20px;
  }
  .containerForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .formContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
  }
  #tmp {
    width: 80px;
    border-color: burlywood;
    border-radius: 10px;
    outline: none;
    margin-right: 0px;
  }
  .InputsWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    margin-bottom: 48px;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #tmp {
    width: 80px;
    border-color: burlywood;
    border-radius: 10px;
    outline: none;
    margin-right: 0px;
  }
  .InputsWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .formContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .calendarWrapper {
    display: block;
    position: relative;
    margin: 0;
    margin-right: 20px;
  }
  .buttonWrapper {
    display: flex;
    width: 265px;
    margin-left: 27px;
    margin-top: 0;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
}

/*Buttons style*/
.authBtn {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  width: 125px;
  height: 37px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 16px;
  border: none;
  background: #f5f6fb;
  font-family: Roboto;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  cursor: pointer;
}

.authBtn:nth-child(1) {
  margin-right: 15px;
}

.authBtn.authBtnActive {
  color: white;
  background-color: var(--accent-bright);
  filter: drop-shadow(1px 3px 5px var(--box-shadow));
}
