@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import "./utils/variables.css";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
button {
  cursor:pointer;
}

.expenses {
  font-weight: bold;
  color: var(--font-expenses);
}

.incomes {
  font-weight: bold;
  color: var(--font-incomes);
}


